node_modules/
.next/
out/
.env
.env.local
.env.*.local
public/generated/*
!public/generated/.gitkeep
*.log
npm-debug.log*
.DS_Store
*.pem
.vercel
*.tsbuildinfo
fresh-almanac-477408-u8-ed16b81c52a1.json
